body {
  background-color: #767B91;
}

.jumbotron {
  margin-top: 100px;
  text-align: center;
}

img {
  height: 35%;
  width: 35%;
  padding-bottom: 15px;
}

.fa {
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa1 {
      padding: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.icons {
}

#smaller {
  font-size: 18px;
}

#evensmaller {
  font-size: 14px;
}

#footer {
  text-align: center;
}
